{% extends 'base.html.twig' %}
{% block body %}
	
    <div class="signup">
        <h1>Inscription</h1>
        {% if session.getFlashBag.has('error_register') %}
            <ul>
                {% for error in session.getFlashBag.get('error_register') %}
                    <li><p>{{error}}</p></li>
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{{urlgenerator('user_register_post')}}" method="POST" enctype="multipart/form-data" >

            <div class="step">
                <div class="circle transition"><i class="fa fa-unlock-alt"></i></div><!--
                --><div class="line"></div><!--
                --><div class="circle transition"><i class="fa fa-user"></i></div><!--
                --><div class="line"></div><!--
                --><div class="circle transition"><i class="fa fa-check"></i></div>
            </div>

            <div class="content_form transition">
                <div class="bloc_register first">
                    <div class="field">
                        <label for="lastName">Votre nom</label>
                        <input type="text" name="lastName" id="lastName" placeholder="Nom" />
                    </div>

                    <div class="field">
                        <label for="firstName">Votre prénom</label>
                        <input type="text" name="firstName" id="firstName" placeholder="Prénom" />
                    </div>

                    <div class="field">
                        <label for="email">Votre email*</label>
                        <input type="email" name="email" id="email" placeholder="Email" />
                    </div>

                    <p>Aucune de ces informations ne seront afficher sur le site.</p>
                </div><!--

                --><div class="bloc_register second">
                    <div class="field">
                        <label for="username">Votre nom d'utilisateur*</label>
                        <input type="text" name="username" id="username" placeholder="Username" />
                    </div>

                    <div class="field">
                        <label for="img">Votre profil</label>
                        <input type="file" name="img" id="img" placeholder="Image de profile" />
                    </div>

                    <div class="field">
                        <label for="password_1">Sécurité</label>
                        <input type="password" name="password_1" id="password_1" placeholder="Mot de passe" />
                        <input type="password" name="password_2" id="password_2" placeholder="Confirmation du mot de passe" />
                    </div>
                </div><!--

                --><div class="bloc_register third">
                    <p>Ici on pourrais afficher toutes les infos que l'user a saisie, on verra.</p>
                    <input type="submit" class="button" value="S'enregistrer" />
                </div>
            </div>

            <div class="footer_form">
                <a href="#" class="previous">précédent</a>
                <a href="#">suivant</a>
            </div>
        </form>

        <script src="Scripts/register.js"></script>

    </div>

{% endblock %}
