{% extends 'base.html.twig' %}
{% block body %}
	
		<div class="signin">

			<div class="logo">
				<i class="fa fa-skyatlas"></i>
			</div>

			<div class="login">
				
				<h1> Connexion </h1>

				<form action="{{urlgenerator('log_check')}}" method="POST" id="login">
                                        {% if session.getFlashBag.has('login_error') %}
                                            <p class="login_error" id="error">
                                               {% for error in session.getFlashBag.get('login_error') %}
                                                   {{error}}
                                               {% endfor %}
                                            </p>
                                        {% endif %}
					<label>
						Nom d'utilisateur
						<input type="text" name="username" id="username" placeholder="Login">
						<div class="error"></div>
					</label>
					<label>
						Mot de passe
						<input type="password" name="password" id="password" placeholder="Password">
						<div class="error"></div>
					</label>
					<div class="row">
						<div class="forget"><a href="#" onclick="window.lightbox('forgetpassword')">Mot de passe oublié</a></div>
						<input type="submit" name="" id="" class="button" value="connexion">
					</div>
				</form>

			</div>
			
			<div class="nologin">
				Vous n'avez pas de compte?
			</div>
		</div>
	
		
		<div class="popup" id="forgetpassword" data-open="close">
			<div class="background" onclick="window.lightbox('forgetpassword')"></div>
			<div class="content">
				<div class="lightbox">
					<div class="modal" style="width:300px;">
						<h3>Modification du mot de passe</h3><br>
						<form action="#" method="POST" id="login">
							<label>
								Email de résiliation<br>
								<input type="email" name="emial" id="email" placeholder="Email">
								<!-- <div class="error"></div> -->
							</label>
							<div class="row">
								<input type="submit" name="" id="" class="button">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
{% block scripts %}
		
		<script>
			jQuery(document).ready(function(){
			$('#error').show(0).delay(2000).fadeOut(200).hide(200);
			});
		</script>

		<script src="Scripts/formManager.js"></script>
		<script src="Scripts/login.js"></script>

{% endblock %}
