{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <img src="{{user.getWebPathImg()}}"/>
    </div>
    <div>
        
    </div>

{% endblock %}
{% block scripts %}
		

{% endblock %}
