<!DOCTYPE html>
<html>

	<head>
		<title>CMSModule |</title>
		<link rel="stylesheet/less" type="text/css" href="Styles/styles.less" />
		<script src="Scripts/less.js"></script>
		<script src="Scripts/jquery.js"></script>
		<meta charset="utf-8">
	</head>

	<body>
		
		<nav>
			<ul>
				{% if session.hasUser() %}
	                <li class="login"><a href="{{urlgenerator('logout')}}"><i class="fa fa-lock"></i> Logout</a></li>
	            {% else %}
	                <li class="login"><a href="{{urlgenerator('login')}}"><i class="fa fa-user"></i> Login</a></li>
	            {% endif %}
            </ul>
		</nav>

		<div class="content">
            
        {% block body %}
        {% endblock %}

		</div>
		
		{% block scripts %}
        {% endblock %}
		
		<script src="Scripts/lightbox.js"></script>

	</body>

</html>