{% include 'Partials/header.html.twig' %}
		
		<div class="client">
			
			<header class="client_header">
				<nav>
					<ul class="row">
						<li><i class="fa fa-skyatlas"></i> Psychic Octo</li>
						<li><a href="{{urlgenerator('')}}">Accueil</a></li>
						<li><a href="{{urlgenerator('forum')}}">Forums</a></li>
						<li><a href="{{urlgenerator('user_register')}}">Membres</a></li>
						<li><a href="{{urlgenerator('login')}}">Login</a></li>
					</ul>
				</nav>
			</header>

			<div class="content">

				{% block header %}
	    		{% endblock %}
				
				<div class="ariane">
	            	Accueil > Membres > Admin
	            </div>

		        {% block body %}
		        {% endblock %}

		        <footer>
					© Psychic Octo 2015
				</footer>

			</div>
			
        </div>
		{% block scripts %}
	    {% endblock %}
{% include 'Partials/footer.html.twig' %}