{% include 'Partials/header.html.twig' %}
		
		<nav>
			<ul>
				{% if session.hasUser() %}
	                <li class="login"><a href="{{urlgenerator('logout')}}"><i class="fa fa-lock"></i> Logout</a></li>
	            {% else %}
	                <li class="login"><a href="{{urlgenerator('login')}}"><i class="fa fa-user"></i> Login</a></li>
	            {% endif %}
            </ul>
		</nav>

		<div class="content">

	        {% block body %}
	        {% endblock %}

		</div>
		
		{% block scripts %}
        {% endblock %}
		
{% include 'Partials/footer.html.twig' %}